bin/
obj/
/packages/
riderModule.iml
/_ReSharper.Caches/
.vs/ProjectEvaluation/qualiwatchapi.metadata.v7.bin
.vs/ProjectEvaluation/qualiwatchapi.projects.v7.bin
.vs/QualiWatchApi/config/applicationhost.config
.vs/QualiWatchApi/FileContentIndex/b2f3cf9d-7516-4428-ae99-a2b0d02dfd08.vsidx
.vs/QualiWatchApi/v17/.suo
